.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.form-control {
  

  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.7s;
}

.form-group button {
  background-color: #45a049;
}

.error {
  color: crimson;
}

.login-btn.disabled-btn {
  background-color: gray;
  cursor: not-allowed;
}

.form-controls {
  width: 100%;
  height: 200px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.containers {
  width: 100%;
  margin: 0 auto;
}

.memory-img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.wrapper {
  padding: 0 6rem;
}

.memory-flex {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.meta h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.comment-section {
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 20px 0;
}

/* Style for individual comments */
.comment {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

/* Style for comment timestamps */
.timestamp {
  color: #888;
  font-size: 12px;
}

/* Style for reply links */
.reply a {
  color: #3498db;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}
